body {
    margin: 0;

    font-family: sans-serif;

    background-color: #121212;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: 400;
}

/* dog */

.dog {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 15px;
}

.dog_item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 10px;

    border-radius: 20px;
    background-color: #202124;

    cursor: pointer;

    transition: all 0.3s ease-out;
}

.dog_item:hover {
    transform: scale(1.1);

    transition: all 0.1s ease-in;
}

.dog_photo {
    width: 25%;
    margin-right: 20px;
    padding-top: 25%;

    position: relative;
}

.dog_photo img {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.dog_info {
    color: white;
}

.dog_name {
    margin-bottom: 10px;

    font-size: 2em;
    font-weight: 700;
}

.dog_sex {
    font-size: 1.4em;
}

/* modal */

.modal {
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
}

.modal_body {
    width: 450px;
    padding-top: 10px;
    margin: 0 auto;

    background-color: #202124;

    position: absolute;
/*    top: 30px;*/
    left: 50%;
    z-index: 1000;

    transform: translate(-50%, 0);

    animation: modal-in .5s ease;
}

@keyframes modal-in {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
    }
}

.modal_photo {
    width: 100%;
    padding-top: 100%;

    position: relative;
}

.modal_photo img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.modal_info {
    display: flex;
    flex-direction: column;
    padding: 20px;

    color: white;
}

.modal_name {
    margin-bottom: 10px;

    font-size: 2em;
    font-weight: 700;
}

.modal_suptitle {
    margin-bottom: 10px;
    padding-top: 10px;

    font-size: 1em;

    opacity: .6;
    border-top: 1px solid rgb(255, 255, 255, 0.6);
}

.modal_text {
    margin-bottom: 10px;

    font-size: 1.4em;
}

.modal_btn {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 55px;
    margin-top: 40px;

    font-size: 1.1em;
    font-weight: 700;
    line-height: 1;
    color: white;
    fill: white;

    text-transform: capitalize;
    cursor: pointer;

    border: 2px solid #6200ee;
    border-radius: 30px;
    background-color: #6200ee;

    transition: all 0.2s ease-in;
}

.modal_btn:hover {
    color: #6200ee;
    fill: #6200ee;
    background-color: white;

    transition: all 0.2s ease-out;
}

.modal_ico {
    width: 1em;
    margin-right: 15px;
}
